* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

/*typography*/
.headline_1 {
    font: 700 48px/58px 'Alegreya Sans', serif;
}
.headline_2 {
    font: 700 36px/43px 'Alegreya Sans', serif;
}
.headline_3 {
    font: 700 23px/32px 'Alegreya Sans', serif;
}

.body_bold_2 {
    font: 700 18px/22px 'Alegreya Sans', serif;
}

.body_semibold_2 {
    font: 500 18px/24px 'Alegreya Sans', serif;
}

.body_regular_2 {
    font: 400 18px/22px 'Alegreya Sans', serif;
}

.body_semibold_1 {
    font: 500 16px/24px 'Alegreya Sans', serif;
}

.body_regular_1 {
    font: 400 16px/24px 'Alegreya Sans', serif;
}

.body_light_1 {
    font: 300 18px/22px 'Alegreya Sans', serif;
}



.body_bold_2 {
    font: 700 18px/21px 'Alegreya Sans', serif;
    letter-spacing: 0px;
    text-align: left;
}
/*typography*/

/*Header*/

.header {
    position: relative;
    width: 100%;
    height: 652px;
    overflow: hidden;
}

.header-background {
    width: 100%;
    height: 100%;
    background-color: #1968b1;
    position: absolute;
    right: 13px;
}

.header-slider {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.header-slider__track {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 25%;
}

.header-slider__item {
    position: absolute;
    min-width: 100%;
    height: 652px;
    opacity: 0;
    transition: 2s;
}

.slider-points {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    right: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 13px;
}

.slider-points__point {
    opacity: 1;
    width: 9px;
    height: 9px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.slider-points__circle {
    opacity: 0;
    padding: 7px 8px 8px 7px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: 0.8s;
    cursor: pointer;
}

.menu-row {
    position: relative;
    z-index: 2;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    max-width: 638px;
    width: 100%;
}

.navigation__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation__link, .number-block{
    color: #fff;
    font: 700 18px/30px 'Alegreya Sans', serif
}

.navigation__link {
    padding: 15px 5px;
}

.number-block {
    font: 700 22px/18px 'Alegreya Sans', serif
}

.number-block__phone-img {
    padding-right: 6px;
}

.burger {
    display: none;
}

.burger__image {
    position: relative;
    z-index: 1;
    width: 25px;
    height: 25px;
    background-image: url('../images/burger.png');
    background-size: 100% 100%;
    cursor: pointer;
}

.burger-content {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #333537;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: none;
}

.burger .navigation__list {
    display: flex;
    flex-direction: column;
}

.burger .navigation__link {
    font: 400 36px/72px 'Alegreya Sans', serif;
    text-align: center;
}

.header-content {
    position: relative;
    z-index: 1;
    max-width: 940px;
    margin: 0 auto;
    margin-top: 102px;
    padding-left: 20px;
}

.header__title {
    font: 700 48px/58px 'Alegreya Sans', serif;
    color: #fff;
    max-width: 583px;
}

.header__description {
    font: 400 21px/25px 'Alegreya Sans', serif;
    color: #fff;
    max-width: 583px;
    margin-top: 17px;
}

.header__button {
    display: block;
    width: 156px;
    height: 60px;
    padding: 21px 41px 21px 41px;
    border-radius: 100px;
    background: #FEDB3F;
    color: #000;
    font: 800 16px/18px 'Alegreya Sans', serif;
    text-align: center;
    margin-top: 39px;
}

.advantages {
    max-width: 500px;
    width: 100%;
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.advantages__item {
    max-width: 142px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    font: 700 16px/18px 'Alegreya Sans', serif;
}

.advantages__image {
    padding-right: 14px;
}

/*Header*/

/*main*/
.features {
    position: relative;
    width: 100%;
    height: 652px;
    background-color: #fff;
}

.features-content {
    max-width: 940px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.features__title {
    padding-top: 105px;
    color: #292929;
}

.features__description {
    max-width: 436px;
    margin: 0 auto;
    margin-top: 17px;
    color: #666666;
}

.subpoints-list {
    width: 100%;
    margin-top: 49px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subpoint {
    max-width: 279px;
}

.subpoint-image-container {
    background: #F2F5F4;
    margin: 0 auto;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subpoint__title {
    margin-top: 20px;
}

.subpoint__description {
    max-width: 279px;
    margin-top: 20px;
    color: #666666;
}

.decoration-container {
    position: absolute;
    max-width: 700px;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.circles-list {
    max-width: 67px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.circles-list__item {
    width: 16px;
    height: 16px;
    background-color: #F2F5F4;
    border-radius: 50%;
}

.circles-list__item:nth-child(2) {
    min-width: 24px;
    min-height: 24px;
}

/*shop*/
.shop {
    width: 100%;
    height: 642px;
    padding-top: 50px;
    background: #F8FAF9;
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
}

.slider-buttons-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    padding: 0 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-buttons-container__button-next, .slider-buttons-container__button-back {
    padding: 10px;
    cursor: pointer;
}

.slider-buttons-container__button-back {
    transform: rotate(180deg);
}


.shop-slider-content {
    width: 100%;
    height: 642px;
    background: #F8FAF9;
    position: relative;
    display: flex;
    transition: 2s;
}

.product {
    background: #F8FAF9;
    position: relative;
    min-width: 100%;
    height: 100%;
}

.product-content {
    max-width: 850px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
}

.product-image-container {
    max-width: 420px;
    width: 100%;
    height: 535px;
    background-image: url('../images/backgroundForBoard.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__image {
    width: 150px;
    height: 535px;
    transform: rotate(30deg);
}

.product-container {
    max-width: 374px;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.product-features-button {
    background-color: #3A587E;
    width: 91px;
    height: 91px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: 0.5s;
}

.product-features-button:hover {
    background-color: #3465A3;
    transition: 0.5s;
}

.product__feature-text {
    font: 700 14px/17px 'Alegreya Sans', serif;
    text-align: center;
    color: #fff;
    padding-top: 7px;
}

.product-features {
    position: absolute;
    z-index: 1;
    max-width: 273px;
    width: 100%;
    padding: 18px 26px 21px 25px;
    height: 291px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 4px 4px 40px 0px #0000000F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 91px;
    opacity: 0;
}

.feature-row {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feature-row-icon-container {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-row__text {
    max-width: 176px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-info {
    padding-top: 20px;
}

.product__name {
    color: #292929;
    padding-bottom: 24px;
}

.product__description {
    color: #666666;
    padding-bottom: 24px;
}

.product-main-features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    width: 100%;
}

.product__main-feature {
    color: #666666;
}

.product-main-feature__info {
    color: #000;
}

.product-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 20px;
}

.product__price {
    font: 300 60px/60px 'Alegreya Sans', serif;
    text-align: left;
}

.product__offer-button {
    position: relative;
    z-index: 3;
    padding: 21px 41px;
    background-color: #fedb3f;
    border-radius: 100px;
    font: 800 16px/18px 'Alegreya Sans', serif;
    text-align: center;
    color: #000;
}



/*shop*/

/*team*/
.team-container {
    color: #292929;
    width: 100%;
    min-height: 652px;
    padding-top: 67px;
    padding-bottom: 20px;
}

.team-content__title {
    text-align: center;
    padding-bottom: 53px;
}

.members-container {
    max-width: 940px;
    width: 100%;
    min-height: 454px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.member {
    max-width: 220px;
    text-align: center;
    min-height: 100%;
}

.member-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 21px;
    cursor: pointer;
}

.member__name {
    font: 700 21px/25px 'Alegreya Sans', serif;
    padding-right: 4px;
}

.member-button {
    transform: rotate(0);
    transition: 0.3s    ;
}

.member-slider {
    padding-top: 8px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.member-tracker {
    width: 100%;
    height: 100%;
    position: absolute;
}

.member__image-inside {
    margin-bottom: 17px;
    display: none;
}

.member__description {
    padding-top: 4px;
    color: #666666;
}

/*team*/

/*menu-container*/

.menu-container {
    width: 100%;
    height: 652px;
    display: flex;
    flex-direction: row;
    position: relative;
    background-image: url(../images/slider-image3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    overflow: hidden;
}
.menu-container::before{
    content: '';
    position: absolute;
    z-index: 0;
    width: 100%;
    min-height: 652px;
    background-color: #000;
    opacity: 20%;
}

.menu__title {
    color: #fff;
    z-index: 1;
    padding-left: 84px;
    padding-top: 109px;
    padding-right: 32px;
}

.menu-blocks-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: end;
}

.menu-block {
    max-width: 102px;
    width: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    transition: 0.6s;
}

.image-container {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.menu-block__image {
    width: 102px;
    height: 100%;
}

.menu-text-container {
    position: absolute;
    width: 95%;
    height: 652px;
    background-color: #333537;
    opacity: 80%;
    left: 102px;
}

.menu-block__text {
    width: 406px;
    min-height: 121px;
    font: 400 16px/24px 'Alegreya Sans', serif;
    color: #fff;
    padding: 31px 0 0 38px;
    opacity: 100%;
    opacity: 0;
    transition: 0.2s;
}


/*menu-container*/


/*reviews-container*/

.reviews-container {
    width: 100%;
    min-height: 652px;
}

.reviews-container__title {
    text-align: center;
    padding-top: 62px;
}

.reviews-slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 32px;
    position: relative;
}

.reviews-slider-track {
    display: flex;
    align-items: center;
    position: relative;
    right: 0;
    transition: 1s;
}

.review-track-item {
    min-width: 100%;
    height: 100%;
    position: relative;
}

.review {
    max-width: 940px;
    width: 100%;
    min-height: 348px;
    margin: 0 auto;
    background-color: #F8FAF9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review__author-image {
    max-width: 253px;
    height: 264px;
    margin-left: 42px;
}

.review-info {
    max-width: 605px;
    width: 100%;
    min-height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #292929;
}

.review__text {
    max-width: 463px;
}

.reviews-buttons {
    width: 100%;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.review-buttons__button {
    width: 74px;
    border-radius: 50%;
    outline: 0px solid #fedb3f;
    outline-offset: -5px;
    transition: 0.1s;
}

/*reviews-container*/

.work-example-container {
    width: 100%;
    height: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8FAF9;
}

.work-example-container__title {
    padding-top: 62px;
    padding-bottom: 30px;
}

.work__video {
    width: 662px;
    height: 391px;
}

/*form-container*/
.form-container {
    width: 100%;
    min-height: 652px;
    background-image: url(../images/form-background.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 130%;
    background-position-y: 30%;
}

.form-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 652px;
    background-color: #2B2B2B;
    opacity: 40%;
}

.form-container__title {
    color: #fff;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 62px;
    padding-bottom: 60px;
}

#offer-form {
    position: relative;
    max-width: 940px;
    width: 100%;
    min-height: 300px;
    z-index: 1;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.contact-info {
    display: flex;
    flex-direction: row;
    max-width: 462px;
    justify-content: space-between;
    color: white;
    gap: 16px;
    padding-bottom: 14px;
}

.contact-info-block {
    width: 223px;
    height: 80px;
}

.contact-info-block__input {
    max-width: 222px;
    width: 100%;
    height: 58px;
    border-radius: 3px;
    border: 0px solid #FFD517;
    outline: none;
}

.contact-info-block__input:focus, .street__input:focus, .accommodation-info__input:focus, .comment-block__textarea:focus {
    border: 3px solid #ffd517;
}


.street {
    display: block;
    max-width: 462px;
    width: 100%;
    height: 80px;
    color: #fff;
    gap: 2px;
}

.street__input {
    width: 100%;
    height: 58px;
    border: none;
    outline: none;
    border-radius: 3px;
}

.accommodation-info {
    max-width: 462px;
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    gap: 2px;
    padding-top: 14px;
}

.accommodation-info-block {
    display: flex;
    flex-direction: column;
    max-width: 106px;
    width: 100%;
    height: 80px;
}

.accommodation-info__label {
    color: #fff;
}

.accommodation-info__input {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: none;
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="number"] {
    -moz-appearance: textfield;
}

.offer-block {
    color: #fff;
    max-width: 450px;
    width: 100%;
    min-height: 386px;
}
.comment-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 174px;
}

.comment-block__textarea {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: none;
    outline: none;
    resize: none;
}

.pay-way {
    display: flex;
    max-width: 362px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.pay-way-block {
    display: flex;
    align-items: center;
    gap: 4px;
}


.pay-way__radio {
    width: 25px;
    height: 25px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.pay-way__radio::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: none;
}

.pay-way__radio:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #fedb3f;
    transform: translate(-50%, -50%);
    visibility: visible;
}

.call-block {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-top: 18px;
}

.call__checkbox {
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
}

.call__checkbox::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    transform: translate(-50%, -50%);
    background-color: white;
    border: none;
}

.call__checkbox:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 8px;
    background-image: url('../images/checkmark.png');
    background-size: 100% 100%;
    transform: translate(-50%, -50%);
    visibility: visible;
}

.call-buttons {
    max-width: 300px;
    width: 100%;
}

.offer-button {
    background-color: #FFD517;
    padding: 21px 41px 21px 41px;
    border-radius: 100px;
    font: 800 16px/18px 'Alegreya Sans', serif;
    text-align: center;
    border: none;
    margin-top: 65px;
}

.clear-button {
    background: none;
    border: none;
    color: white;
    padding-left: 22px;
}


/*form-container*/

.map-container__map {
    width: 100%;
    height: 652px;
}

/*main*/

/*footer*/

.footer {
    width: 100%;
    height: 82px;
    padding: 17px;
}

.footer-row {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer__addres {
    font: 400 21px/24px 'Alegreya Sans', serif;
    padding-bottom: 11px;
}

.footer_number {
    font: 400 21px/21px 'Alegreya Sans', serif;
}

.phone-icon {
    width: 12px;
    height: 12px;
}

.networks {
    max-width: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__number {
    font: 400 21px/21px 'Alegreya Sans', serif;
}

/*footer*/

.activeMenuBlock {
    max-width: 700px;
}

.reviewer_active {
    transition: 0.2s;
    outline: 6px solid #fedb3f;
}

.active {
    opacity: 1;
}

.activeInfo {
    position: relative;
}

.activeRotate {
    transform: rotate(180deg);
}

.activeBurger {
        display: flex;
    }

.activeButtonBurger {
    position: fixed;
    right: 27px;
    top: 31px; 
    background-image: url(../images/close.png);
}

@media screen and (max-width: 768px) {
    .header {
        min-height: 1000px;
        background-image: url('../images/slider-image1.jpeg');
        background-size: 150% 100%;
        background-position: 70%;
    }

    .header-background {
        background-color: #1968B1;
        width: 100%;
        opacity: 30%;
        right: 0;
    }

    .slider-points {
        display: none;
    }

    .header-slider__track {
        display: none;
    }

    .menu-row {
        background-color: #1968B1;
        padding: 0;
        padding-left: 30px;
        padding-right: 26px;
        height: 91px;
    }

    .number-block {
        display: none;
    }

    .header-slider__item {
        height: 100%;
        transform: translate(-30%);
    }

    .navigation__list {
        display: none;
    }

    .burger {
        display: flex;
    }

    .header-content {
        margin-top: 365px;

    }

    .header__title {
        margin: 0 auto;
        text-align: center;
    }

    .header__description {
        margin: 0 auto;
        text-align: center;
        padding-top: 9px;
    }

    .header-content__br {
        display: none;
    }

    .header__button {
        margin: 0 auto;
        margin-top: 44px;
    }

    .advantages {
        display: none;
    }

    .features {
        min-height: 1000px;
    }

    .decoration-container {
        display: none   ;
    }

    .features__title {
        padding-top: 269px;
    }

    .subpoint {
        max-width: 258px;
        width: 100%;
        min-height: 307px;
    }

    .subpoint__description {
        margin-top: 7px;
    }

    .shop {
        min-height: 816px;
        padding-top: 27px;
    }

    .product-content {
        flex-direction: column;
    }

    .product__image {
        width: 117px;
        height: 415px;
    }

    .product-image-container {
        max-width: 318px;
        height: 390px;
        background-size: 100%;
    }

    .product-features-button {
        display: none;
    }

    .product-features {
        display: none;
    }

    .product-container { 
        max-width: 548px;
        width: 100%;
        min-height: 240px;
        text-align: center;
    }

    .product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-bottom {
        max-width: 352px;
    }

    .product__main-feature {
        text-align: left;
    }

    .product__description {
        max-width: 528px;
    }

    .slider-buttons-container {
        padding: 0;
        max-width: 450px;
        left: 50%;
        transform: translate(-50%);
        align-items: start;
        margin-top: 200px;
    }

    .team-container {
        min-height: 700px;
        padding: 0;
    }
    
    .team-content__title {
        padding-top: 175px;
        padding-bottom: 20px;
    }

    .members-container {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-bottom: 50px;
    }

    .member__image {
        display: none;
    }

    .member__image-inside {
        display: block;
    }

    .menu__title {
        position: absolute;
    }

    .reviews-container {
        min-height: 976px;
    }

    .review {
        max-width: 724px;
        min-height: 418px;
        flex-direction: column;
        justify-content: start;
    }

    .review__author-image {
        width: 130px;
        height: 130px;
        margin: 0;
        margin-top: 56px;
    }

    .review-info {
        max-width: 677px;
        min-height: 154px;
        text-align: center;
        margin-top: 32px;
    }

    .review__text {
        margin: 0 auto;
        max-width: none;
    }


    .reviews-buttons {
        padding-top: 32px;
    }

    .reviews-container__title {
        padding-top: 182px;
    }

    .form-container {
        background-size: 200% 100%;
        background-position-y: 0;
        background-position-x: 50%;
        min-height: 960px;
    }

    .form-container::before {
        content: '';
        position: absolute;
        width: 100%;
        min-height: 960px;
        background-color: #2B2B2B;
        opacity: 40%;
    }

    #offer-form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-info {
        padding-bottom: 16px;
    }

    .form-container__title {
        padding-top: 175px;
    }

    .contact-info-block {
        height: 58px;
    }

    .contact-info-block__input {
        height: 36px;
    }

    .street {
        height: 58px;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .accommodation-info {
        padding-top: 16px;
    }

    .accommodation-info-block {
        height: 58px;
    }

    .offer-block {
        max-width: 462px;
        padding-top: 16px;
    }

    .comment-block {
        height: 104px;
        min-height: 104px;
        display: flex;
        flex-direction: column;
    }
    .pay-way {
        padding-top: 22px;
    }

    .pay-way-block {
        gap: 10px;
    }

    .call-block {
        padding-top: 21px;
    }

    .call-buttons {
        margin: 0 auto;
        padding-top: 36px;
    }

    .offer-button {
        margin: 0;
    }

    .footer {
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 0px;
        min-height: 107px;
    }

    .footer-row {
        padding-top: 28px;
    }

    .footer__addres {
        padding-bottom: 6px;
        padding-top: 0px;
    }
}

@media screen and (max-width: 768px) { 
    .header {
        background-size: 200% 100%;
        min-height: 800px;
    }

    .header-background {
        opacity: 20%;
    }

    .header-content {
        margin-top: 260px;
    }

    .header__title {
        line-height: 36px;
    }

    .header__button {
        padding: 21px 36px;
        font: 800 19px/18px 'Alegreya Sans', serif;
    }

    .features {
        min-height: 707px;
    }

    .features__title {
        padding-top: 53px;
        font: 700 40px/36px 'Alegreya Sans', serif;
        text-align: center;
    }

    .subpoints-list {
        flex-direction: column;
        text-align: left;
    }

    .subpoint {
        max-width: 450px;
        min-height: 128px;
        display: flex;
        flex-direction: row;
        padding-bottom: 31px;
    }

    .subpoint__title {
        margin: 0;
    }

    .subpoint-text {
        padding-left: 14px;
        min-height: 128px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }

    .subpoint-image-container {
        margin: 0;
    }

    .shop {
        padding-top: 0;
    }

    .product__description {
        max-width: 380px;
    }

    .slider-buttons-container {
        height: 50%;
    }

    .shop-slider-content {
        height: 100%;
    }
    
    .reviews-container {
        min-height: 800px;
    }
    
    .review {
        justify-content: center;
    }

    .reviews-container__title {
        padding-top: 96px;
    }

    .review__title {
        max-width: 241px;
        width: 100%;
        margin: 0 auto;
    }

    .review__text {
        color: #666666;
        max-width: 405px;
        padding-top: 12px;
    }

    .review__author-name  {
        padding-top: 12px;
    }

    .reviews-buttons {
        padding-top: 60px;
    }

    .work-example-container {
        height: 511px;
    }

    .work__video {
        width: 394px;
        height: 234px;
    }

    .form-container {
        min-height: 766px;
        background-size: 300% 100%;
        padding-bottom: 20px;
    }

    .form-container__title {
        padding-top: 87px;
    }

    .form-container::before {
        min-height: 766px;
    }

    .offer-block {
        min-height: 300px;
    }

    .pay-way {
        margin: 0 auto;
    }

    .call-block {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer {
        min-height: 151px;
        padding: 0;
    }

    .footer-row {
        max-width: 298px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    .footer__number {
        text-align: center;
    }
}